version: '3.8'

services:
  # Service for Debian/Ubuntu based builds
  build-env-debian:
    build:
      context: ./docker
      dockerfile: Dockerfile
    volumes:
      - ../..:/usr/src/app:Z
    tty: true
    stdin_open: true

  # Service for Red Hat based builds (AlmaLinux, Rocky, Fedora)
  build-env-rhel:
    build:
      context: ./podman
      dockerfile: Containerfile
    volumes:
      - ../..:/usr/src/app:Z
    tty: true
    stdin_open: true
