version: '3.8'

services:
  # Service for Debian/Ubuntu based builds
  build-env-debian:
    build:
      context: ubuntu-24-04
      dockerfile: Dockerfile
    volumes:
      - ../src/c:/usr/src/app:Z
    tty: true
    stdin_open: true

  # Service for Red Hat based builds (AlmaLinux, Rocky, Fedora)
  build-env-rhel:
    build:
      context: RHEL
      dockerfile: Containerfile
    volumes:
      - ./src/c:/usr/src/app:Z
    tty: true
    stdin_open: true
